@import '@royalnavy/css-framework';

.subscribe-modal {
  //
}

.subscribe-modal__header {
  display: flex;
  background-color: color(neutral, 000);

  div {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: spacing(8);

    span {
      font-weight: 600;
      font-size: font-size(m);
      margin-top: spacing(4);
    }

    p {
      font-weight: 600;
      font-size: font-size(s);
      color: color(neutral, 300);
      margin-top: spacing(2);
    }
  }
}

.subscribe-modal__body {
  //
}
