@import '@royalnavy/css-framework';

body {
  color: color(neutral, 500);
}

.rn-masthead__service-name svg {
  width: 10rem;
}

.layout__main {
  background-color: color(neutral, 000);
  padding: spacing(6) spacing(8);
  overflow: hidden;
}

.page__heading {
  display: flex;
  align-items: center;
  font-size: font-size(l);
  font-weight: 600;
}

.page__heading-icon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: color(primary, 200);
  margin-right: spacing(2);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: color(primary, 500);
  }
}

/* Fixing issues with @royalnavy component styles */

.rn-badge.rn-badge--danger {
  color: color(danger, 400) !important;
}
