@import '@royalnavy/css-framework';

body {
  color: color(neutral, 500);
}

.rn-masthead__service-name svg {
  width: 10rem;
}

.layout__main {
  background-color: color(neutral, 000);
  padding: spacing(2) spacing(8) spacing(6);
  overflow: hidden;
}

.page__heading {
  display: flex;
  align-items: center;
  font-size: font-size(l);
  font-weight: 600;
}

/* Fixing issues with @royalnavy component styles */

.rn-badge.rn-badge--danger {
  color: color(danger, 400) !important;
}

.rn-badge.rn-badge--neutral {
  color: color(neutral, 400) !important;
}

.rn-btn.rn-btn--tertiary {
  color: color(danger, 400) !important;
}
